.DS_Store
.idea/
**pycache**/
*.pyc
venv/ # Virtual Environment
venv/
env/
ENV/
# Python bytecode
****pycache****/
*.py[cod]
*.class
# Distribution / packaging
dist/
build/
*.egg-info/
# Node.js
node_modules/
package.json
package-lock.json
data/slither-env/